Wordle/Wordle.xcodeproj/project.xcworkspace/xcuserdata/angelinashao.xcuserdatad/UserInterfaceState.xcuserstate
Wordle/.DS_Store
Wordle/Wordle.xcodeproj/project.xcworkspace/xcuserdata/
Wordle/Wordle.xcodeproj/xcuserdata/priyank.xcuserdatad/

